body {
    margin: 0;
    font-family: 'Smythe', cursive;
} 

.hero{
    background: url("/images/burger9.png");
    height: 30vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

p{
    color: white;
}

.hero-title{
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 0 0 40px;
}


.hero-description{
    font-size: 20px;
    padding: 0 0 0 40px;
    margin-top: 0px;
}